<?xml version ="1.0" encoding ="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="driv" class="com.mashibing.Driver"></bean>
<bean id="tank" class="com.mashibing.Tank">
    <!-- 依赖注入-->
    <property name="driver" ref="driv"></property>
</bean>
</beans>