<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.dao.TestMapper">
    <insert id="addList" parameterType="java.util.List">
        <foreach collection="list" separator=";" index="index" item="item">
            INSERT into test_entity(name,age) VALUES (#{item.Name},#{item.age})
        </foreach>
    </insert>
    <update id="updateList" parameterType="java.util.List">
        update test_entity set age=0 where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>
    <update id="updateListTwo" parameterType="java.util.List">
        <foreach collection="list" index="item" separator=";">
            UPDATE test_entity
            <trim prefix="set" suffixOverrides=",">
                <if test="item.age!=null">SRC_ID=#{item.age},</if>
                <if test="item.name!=null">SRC_TYPE=#{item.name},</if>
            </trim>
            <where>
                <if test="item.id!=null">
                    id =#{item.id}
                </if>
                <if test="item.name!=null">
                    and name =#{item.name}
                </if>
            </where>
        </foreach>
    </update>
    <delete id="delList" parameterType="java.util.List">
        delete from test_entity where id in
        <foreach collection="list" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--mybatis一对多查询语句-->
    <!--先查询主类，书写映射map,单独书写map映射结果集 resultMap-->
    <select id="selMainType" resultMap="selMainMap">
        select
        id,
        name,
        age
        where id =#{id}
    </select>
    <select id="selBook">
--         select id,book_name  bookName from book where id =#{id} and book_name =#{bookName}
        select id,book_name  bookName from book where id =#{id}
    </select>
    <resultMap id="selMainMap" type="com.cn.entity.TestEntity">
        <!--column指的是数据库字段，property 指的是实体类字段-->
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="age" property="age"></result>
        <!--封装list集合属性 ,查询是传多个参数的方法 column="{id=author_id,bookName=author_name}-->
        <collection property="bookList" column="id" javaType="ArrayList"
                    ofType="com.cn.entity.Book"
                    select="selBook">
        </collection>
    </resultMap>

    <!--  查询修改语句，将查询的结果集拿去修改其他表数据 -->
    <select id="">
    UPDATE
    tab1,
    tab2
    SET tab1.avg_score = tab2.avg_score
    WHERE tab1.id = tab2.id
    </select>
    <!--  查询插入语句，将查询的结果集插入到其他表中 -->
    <select id="">
        insert into t_dept_month_history (
        norm_id,
        dept_id,
        create_time
        )
         select
          norm_id,
          dept_id,
          now()
               from t_dept_indicators_history
    </select>

</mapper>